.loginContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 500px;
    width: 800px;
    background-color: #fff;
}

.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}